<div class="">
    <%= content_tag(:div, notice_with_close_btn(flash[:error]), :id => "flash_error", :class=> "alert alert-danger alert-block") if flash[:error] %>
    <%= content_tag(:div, notice_with_close_btn(flash[:notice]), :id => "flash_notice", :class=> "alert alert-success alert-block") if flash[:notice] %>
    <%= content_tag(:div, notice_with_close_btn(flash[:alert]), :id => "flash_alert", :class=> "alert alert-danger alert-block") if flash[:alert] %>
</div>
<h1 class="page-header">News Dashboard</h1>

<div id="rssdata">
    <% @feeds && @feeds.each do |feed| %>
      <div class="panel panel-default">
          <div class="panel-body">
              <h4><a href="<%= feed['link'] %>" target="_blank"><%= feed["title"] %></a></h4>
              <div>
                  <%=  feed["publishedDate"]%>
              </div>
              <div>
                  <%= feed["content"].html_safe %>
              </div>Ï
          </div>
      </div>
    <% end %>
</div>

